.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#github-fork-me {
    position: absolute;
    top: 0;
    right: 0;
}

#canvas_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#home, #home_and_places{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


#home_select_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.place {
    border-collapse: collapse;
}

.labelled_input_span label {
    margin-right: 1em;
}

.place button {
}
